<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- MyBatis主配置文件 -->
<!-- 有指定的命名空间configuration -->
<!-- 内容为
		（一）没整合Spring
			包括数据库的连接信息、指定sql映射文件的位置（mapper文件）、设置实体类的别名。 
		（二）整合Spring
			指定sql映射文件的位置（mapper文件）、设置实体类的别名。
			-->
<configuration>

</configuration>